/**
 Easy Modal with RequireJS and jQuery
 For a functional modal, add this to your existing CSS.
*/
#easy-modal-container {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
#easy-modal-shade {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1050;
}
#easy-modal-inner {
    position: relative;
    background-color: #fff;
    width: 60%;
    margin: 10% auto 0 auto;
    padding: 15px;
    z-index: 1100;
}
body.easy-modal-opened {
    overflow: hidden;
}
